<h2>Click the link to contact that legislator:</h2>
<ul>
  {{#each model as |legislator|}}
    <li> {{legislator.first_name}} {{legislator.last_name}} was born on {{legislator.birthday}}<br>Contact: <a href=  {{legislator.contact_form}}>{{legislator.contact_form}}</a></li>
  {{/each}}
</ul>
